<h3>{{ ticket.movie.title }}</h3>

<p>sala: {{ ticket.room.name }}</p>
<p>rząd: {{ ticket.rowId }} / miejsce: {{ ticket.seatId }}</p>

<button class="btn btn-secondary" (click)="handleDeleteTicket(ticket)">
    <i class="far fa-trash-alt"></i>
</button>