$headerHeight: 150px;
$footerHeight: 100px;

#page-container {
  > header {
    height: $headerHeight;
    background-color: $darkCharcoal;
  }

  > main {
    height: calc(100vh - #{$headerHeight} - #{$footerHeight});

    > aside {
      outline: 1px solid white;
      overflow: hidden;
      overflow-y: auto;
    }

    > section {
      outline: 1px solid white;
    }

    > aside, > section {
      height: inherit;
    }
  }

  > footer {
    height: $footerHeight;
  }
}

