<div id="page-container" class="container-fluid">
    <header></header>

    <main class="row">
        <aside class="col-3">
            <app-repertoire></app-repertoire>
        </aside>
        <section class="col-7">
            <router-outlet></router-outlet>
        </section>
        <aside class="col-2">
            <app-my-tickets></app-my-tickets>
        </aside>
    </main>

    <footer></footer>
</div>


