<header>
    <h2>Moje bilety</h2>
</header>

<ul>
    <li *ngFor="let ticket of tickets">
        <app-ticket [ticket]="ticket" (onDeleteTicket)="handleDeleteTicket($event)"></app-ticket>
    </li>
</ul>