<header>
    <h3>{{ movie.title }}</h3>
</header>

<article>
    <img src="/assets/movies/{{ movie.poster }}" alt="" width="150">

    <p>{{ getShortContent(movie.description) }}</p>
    <a routerLink="../../buy-ticket">Kup bilet</a>
</article>