:host {
  display: block;
  padding: 10px;
  border-bottom: 1px solid grey;
}

header {
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

section {
  display: flex;
  opacity: 0.8;

  img {
    margin-right: 10px;
  }
}

button {
  margin-top: 10px;
}