<header>
    <h3>{{ movie.movie.title }}</h3>
</header>

<section>
    <img src="/assets/movies/{{ movie.movie.poster }}" alt="" width="150">

    <article>
        <p>{{ getShortContent(movie.movie.description) }}</p>
        <button class="btn btn-info" [routerLink]="['/buy-ticket', movie.movie.id, movie.roomId]">Kup bilet</button>
    </article>
</section>
