:host {
  display: block;
  padding: 10px;
}

header {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 70px;
}

.screen {
  position: relative;
  height: 10px;
  margin-bottom: 70px;
  background-color: white;

  &:before {
    position: absolute;
    content: 'Ekran';
    text-align: center;
    display: block;
    margin-top: -30px;
  }
}
