<section *ngIf="room">
    <header>
        <h1>{{ movie.title }}</h1>
        <h3>{{ room.name }}</h3>
    </header>

    <section class="screen"></section>

    <section class="seats-rows">
        <app-seats-row *ngFor="let row of room.seatsRows" [row]="row" (onBookSeat)="handleBookSeat($event)"></app-seats-row>
    </section>
</section>



